<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cpu_triggers_count" value="2" />
    <add key="cpu_temperature_threshold_0" value="90" />
	<add key="cpu_temperature_action_0" value="beep" />
	<add key="cpu_temperature_threshold_1" value="100" />
	<add key="cpu_temperature_action_1" value="restart" />
	<add key="hdd_triggers_count" value="0" />
	<add key="hdd_temperature_threshold_0" value="90" />
	<add key="hdd_temperature_action_0" value="shutdown" />
	<add key="mainboard_triggers_count" value="0" />
	<add key="mainboard_temperature_threshold_0" value="90" />
	<add key="mainboard_temperature_action_0" value="shutdown" />
  </appSettings>
</configuration>